@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;
}

@layer base {
	html,
	body {
		@apply h-full;
	}

	html {
		overflow-x: hidden;
		font-size: 18px;
		font-weight: 430;
	}

	p:not(:last-of-type) {
		@apply mb-6;
	}

	:root {
		--radius: 0.5rem;
		--sidebar-background: 222.2 47.4% 11.2%;
		--sidebar-foreground: 215 20.2% 65.1%;
		--sidebar-muted: 215 25% 27%;
		--sidebar-muted-foreground: 217.9 10.6% 64.9%;
		--sidebar-primary: 217.2 91.2% 59.8%;
		--sidebar-primary-foreground: 222.2 47.4% 11.2%;
		--sidebar-accent: 217.2 32.6% 17.5%;
		--sidebar-accent-foreground: 210 40% 98%;
		--sidebar-border: 217.2 32.6% 17.5%;
		--sidebar-ring: 224.3 76.3% 48%;
	}

	.dark {
		--sidebar-background: 222.2 47.4% 11.2%;
		--sidebar-foreground: 215 20.2% 65.1%;
		--sidebar-muted: 215 25% 27%;
		--sidebar-muted-foreground: 217.9 10.6% 64.9%;
		--sidebar-primary: 217.2 91.2% 59.8%;
		--sidebar-primary-foreground: 222.2 47.4% 11.2%;
		--sidebar-accent: 217.2 32.6% 17.5%;
		--sidebar-accent-foreground: 210 40% 98%;
		--sidebar-border: 217.2 32.6% 17.5%;
		--sidebar-ring: 224.3 76.3% 48%;
	}
}
